:root {
    --color-main: rgba(255, 0, 0, 1);
    --color-bg: rgba(40, 39, 44, 1);
}

* {
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

.container {
    max-width: 1088px;
    margin: 0 auto;
}

.section {
    padding: 100px 0;
}

/* header */
.header {
    background: rgba(0,0,0,0.4);
    border-bottom: 2px solid rgba(255,255,255,0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(3px);
    transition: 0.5s;
    height: 93px;
}
.header-shrink {
    background: #000;
    height: 70px;
}

.header-shrink .nav-list-link {
    height: 70px;
}

.header .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.logo-icon {
    margin-right: 10px;
}

.logo span {
    color: var(--color-main);
    margin-right: 5px;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.nav-list-el {}
.nav-list-link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    padding: 0 40px;
    height: 93px;
    display: flex;
    align-items: center;
    transition: 0.2s;
}
.nav-list-link:hover {
    background-color: rgba(255,255,255,0.2);
}

/* banner */

.hero {
    --c: rgba(0,0,0, .3);
    height: 100vh;
    min-height: 700px;
    background:
            linear-gradient(var(--c), var(--c)),
            url(../images/image.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-arrow {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: var(--color-main);
    background-image: url(../images/icon-arrow-down.svg);
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.banner-title {
    font-size: 90px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0;
}
.banner-text {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}

.banner-buttons {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
.banner-btn {
    width: 220px;
    height: 66px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 50px;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}
.banner-btn:hover {
    box-shadow: 0 2px 7px rgba(0,0,0,0.5);
}
.banner-btn-primary {
    background: var(--color-main);
    color: #fff;
}
.banner-btn-secondary {
    background: #fff;
    color: var(--color-main);
}

/* blog */
.blog-list {
    display: flex;
    gap: 16px;
}

.blog-article {
    flex: 1;
}
.blog-article-link {
    display: block;
    margin-bottom: 20px;
}
.blog-article-photo {
    width: 100%;
}

.blog-article-title {
    font-size: 19px;
    font-weight: normal;
    color: #6a6a6a;
    text-transform: uppercase;
    margin: 0 0 15px;
}

.blog-article-text {
    font-size: 14px;
    color: #6a6a6a;
    line-height: 1.4;
    margin-bottom: 15px;
    max-width: 260px;
    opacity: 0.8;
}

.blog-article-button {
    border-radius: 50px;
    padding: 10px 30px;
    color: #fff;
    background: var(--color-main);
    font-size: 14px;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
}

.section-title {
    font-size: 35px;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.section-title--white {
    color: #fff;
}
.section-title::before,
.section-title::after {
    content: "";
    width: 50px;
    height: 3px;
    border-radius: 5px;
    background: var(--color-main);
    margin: 0 10px;
}
/* service */
.section-service {
    background: var(--color-bg);
    padding-top: 60px;
}
.service-list {
    display: flex;
    gap: 16px;
    margin-top: 70px;
}

.service-article {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.service-article-link {
    display: block;
    margin-bottom: 20px;
}
.service-article-photo {
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

.service-article-title {
    font-size: 19px;
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 10px;
    text-align: center;
}

.service-article-text {
    font-size: 14px;
    text-align: center;
    color: #b2b2b2;
    line-height: 1.4;
    margin-bottom: 25px;
    max-width: 260px;
    opacity: 0.8;
}

.service-article-button {
    border-radius: 50px;
    padding: 10px 30px;
    color: #fff;
    background: var(--color-main);
    font-size: 14px;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
}

/* content */
.form-container {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    margin: 0 100px;
}

.form-img {
    flex: 1;
    aspect-ratio:  888 / 633;
    background-image: url(../images/form-photo.png);
    background-size: cover;
}

.form {
    flex: 1;
}

.form-row {
    margin-bottom: 20px;
}

.form-label {
    position: absolute;
    left: -999999px;
}

.form-control {
    height: 38px;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    width: 100%;
    padding: 0 10px;
}

.form textarea {
    height: 140px;
    padding: 10px;
    resize: vertical;
}

.form-control:focus {
    outline: none;
    border: 1px solid var(--color-main);
    box-shadow: 0 0 2px rgba(255, 0, 0, 0.5);
}

.checkbox {
    display: flex;
    cursor: pointer;
}
.checkbox input {
    width: 22px;
    height: 22px;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    flex-shrink: 0;
    appearance: none;
    margin-right: 10px;
}
.checkbox input:checked {
    background-image: url(../images/icon-check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px;
}
.checkbox span {
    font-size: 12px;
    line-height: 1.2;
    color: #b2b2b2;
}

.form-row-last {
    display: flex;
    justify-content: flex-end;
}

.form-button {
    width: 142px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid var(--color-main);
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-main);
    background: none;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0 3px 6px rgba(255,0,0,0.3);
}

/*footer*/
.footer{
    display: flex;
    height: 233px;
    background: var(--color-bg);
    color: white;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;

}
.footer-logo {

    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.footer-icon{

}
.logo-link{
    display: flex;
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
}

.footer-menu {
    display: flex;

    /*width: 50%;*/
    justify-content: space-between;
    align-items: center;

}

.footer-list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    /*margin-left: 20px;*/
}
.footer-item {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 2px;
    align-items: center;
    width: 50%;

    font-size: 14px;
}

.footer-container{
    padding: 39px 0;
    width: 1088px;
    margin: 0 auto;
}

.footer-icon {
    margin-right: 10px;
}
.footer-link{
    text-decoration: none;
    color:white;
    font-size: 14px;
    transition: 0.4s;
}
.footer-link:hover{
    color: var(--color-main)
}



.footer-logo span {
    text-decoration: none;
    color: var(--color-main);
    margin-right: 5px;

}



.footer-info{
    display: flex;
    font-size: 12px;
    align-items: flex-end;
    margin-bottom: 30px;
    font-weight: normal;
    color: #b2b2b2;


}
